* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Verdana, Geneva, Tahoma, sans-serif sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('img/background.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.bungkus {
  width: 500px;
  background: transparent;
  border: 2px solid rgba(225, 225, 225, .2);
  backdrop-filter: blur(6px);
  box-shadow: 0 0 18px rgba(0,0,0, .2);
  color: #ffffff;
  border-radius: 20px;
  padding: 30px 40px;
}

.bungkus .msg {
  display: block;
  text-align: center;
  margin: 10px auto 20px;
  padding: 10px 15px;
  width: 80%;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  transition: 0.3s;
}


.bungkus h1 {
  font-size: 36px;
  text-align: center;
}

.bungkus .input-box {
  width: 100%;
  height: 50px;
  position: relative;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(225,225,225, .2);
  border-radius: 40ex;
  color: #ffffff;
  padding: 20px 45px 20px 20px;
}

.input-box select {
  width: 100%;
  height: 50px;
}

.input-box select{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(225,225,225, .2);
  border-radius: 40ex;
  font-size: 16px;
  color: white;
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
  color: white;
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 25px;
  transform: translateY(-50%);
  font-size: 20px;
}

.bungkus .registrasi {
  width: 100%;
  height: 45px;
  background-color: white;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0,0,0, .1);
  cursor: pointer;
  color: #00680a;
  font-weight: 600;
}

.bungkus .lgnlink {
  font-size: 14.5px;
  text-align: center;
  margin-top: 20px;
  margin: 20px 0 15px;
}
.lgnlink p a {
  color: #00680a;
  text-decoration: none;
  font-weight: 600;
}

.lgnlink p a:hover{
  text-decoration: underline;
}

.input-box select option {
  background-color: #333;
}

.bg2  {
background: url('img/forest.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.card-container {
    width: 100%;
    max-width: 750px; 
}

.card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 90px; 
    text-align: center;
}

.card h1 {
    color: #333;
    margin-top: 0;
    font-size: 3em;
    margin-bottom: 20px;
}

.card p {
    color: grey;
    line-height: 1.8;
    margin-bottom: 0;
        font-size: 1.5em; 
}

.logout-link {
    display: block; 
    text-align: center;
    margin-top: 20px; 
}

.logout-link a {
    text-decoration: none;
    background-color: #00680a; 
    color: white;
    padding: 12px 30px; 
    border-radius: 5px;
    font-weight: bold;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.logout-link a:hover {
    background-color: #00680a;
}